* {
  font-family: arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background-color: #bbdefb;
}

.App {
  display: flex;
  flex-direction: column;
}

.panel {
  background-color: #64b5f6;
  border-radius: 25px;
  border: 1px solid #64b5f6;
  padding: 20px;
  overflow: hidden;

  display: flex;
  flex-direction: column;
}

.panel_text {
  font-family: 'Nerko One', cursive;
  font-size: 28px;
  display: inline-block;
}

.input__deposit {
  max-width: 100px;
}

.deposit_form {
  display: flex;
  flex-direction: row;
}
