.main__right-panels {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  height: 100%;
}

.main__right-panels > div {
  max-height: 66%;
  align-items: center;
}

.panel__game_main {
  display: flex;
  flex: 1 1 auto;
}

.currunt_winner {
  color: black;
}

.currunt_winner:hover {
  text-decoration: underline;
}
