.homePage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.panels {
  display: flex;
  font-display: row;
  justify-content: space-between;
  min-height: 46rem;
  width: 100%;
}

.left-panels {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 33%;
}

.left-panels > div {
  min-height: 200px;
}

.right-panels {
  display: flex;
  flex-direction: column;
  min-width: 66%;
  justify-content: space-between;
}
