.panel__top_users {
  display: flex;
  height: 35%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.panel__top_users_address {
  display: block;
  font-size: 22px;
  color: black;
}

.panel__top_users_address:hover {
  text-decoration: underline;
}

.title_top_users {
  font-size: 28px;
}
